<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-large w3-blue">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block">Home</a>
    </div>
    <div class="w3-col s3">
      <a href="#plans" class="w3-button w3-block">Analysis</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block">Visualization</a>
    </div>
    <div class="w3-col s3">
      <a href="#contact" class="w3-button w3-block">Results</a>
    </div>
  </div>
</div>

<!-- Content -->
<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
  <div class="w3-center">
  <h4>A Single Cell Analysis Tool</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">WIR3</h1>
    <div class="w3-padding-32">

 <!-- Grid -->
  <div class="w3-center">
    <div class="w3-center w3-padding-16">
      <span class="w3-xlarge w3-bottombar w3-border-blue w3-padding-16">Select a File to Upload</span>
    </div>
     </div>
	<div class="w3-center w3-padding-16">
        <form class="box" method="POST" action="" enctype="multipart/form-data">
		  <div class="box__input">
			<input class="box__file" type="file" name="doc" id="file" data-multiple-caption="{count} files selected" multiple />
            <button type="submit">Upload</button>
		  </div>
		</form>
	</div>
  </div>


  <!-- Grid -->
  <div class="w3-center w3-padding-64">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-blue w3-padding-16">Select Pre-Processing Steps</span>
    </div>

    <div class="w3-quarter">
    	<style>
    	.button1 {padding: 8px 70px;}
    </style>
        <form id="ps" method="POST" action="">
			<button type="submit" class="w3-button w3-round-xlarge w3-white w3-border w3-border-blue button button1">Quality Control</button>
			  <div style="width: 100%">
			  <select form="ps" name="qcOption" id="qcOption">
				<option value="ScPipe">ScPipe</option>
			  </select>
			  </div>
        </form>
		  </div>
		  <div class="w3-quarter">
		  	<style>
    	.button2 {padding: 8px 90px;}
    </style>
            <form id="ps1" method="POST" action="">
			<button type="submit" class="w3-button w3-round-xlarge w3-white w3-border w3-border-blue button2">Alignment</button>
			  <div style="width: 100%">
			  <select form="ps1" name="alignOption" id="alignOption">
				<option value="Rsubread">Rsubread</option>
			  </select>
			  </div>
          </form>
		  </div>
		  <div class="w3-quarter">
		  	<style>
    	.button4 {padding: 8px 76px;}
    </style>
            <form id="ps2" method="POST" action="">
			<button type="submit" class="w3-button w3-round-xlarge w3-white w3-border w3-border-blue button4">Normalization</button>
			  <div style="width: 100%">
			  <select form="ps2" name="normOption" id="normOption">
				<option value="Linnorm">Linnorm</option>
				<option value="Scran">Scran</option>
				<option value="Scone">Scone</option>
			  </select>
			  </div>
          </form>
		  </div>
		  <div class="w3-quarter">
		  	<style>
    	.button3 {padding: 8px 56px;}
    </style>
            <form id="ps3" method="POST" action="">
			<button type="submit" class="w3-button w3-round-xlarge w3-white w3-border w3-border-blue button3">Dimension Reduction</button>
			  <div style="width: 100%">
              <select form="ps3" name="dimReducOption" id="dimReducOption">
				<option value="PCA">PCA</option>
				<option value="tSNE">tSNE</option>
			  </select>
			  </div>
          </form>
		  </div>
    </div>
  </div>

<!-- Grid -->
  <div class="w3-center w3-padding-64">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-blue w3-padding-16">Select Analysis Steps</span>
    </div>
    <div class="w3-quarter">
    	<style>
    	.button5 {padding: 8px 90px;}
    </style>
            <form id="as" method="POST" action="">
			<button type="submit" class="w3-button w3-round-xlarge w3-white w3-border w3-border-blue button5">Clustering</button>
			  <div style="width: 100%">
                  <select form="as" name="clusteringOption" id="clusteringOption">
				<option value="Seurat_0.6">Seurat_0.6</option>
				<option value="RacelD3">RacelD3</option>
				<option value="Seurat_pipe">Seurat_pipe</option>
			  </select>
			  </div>
          </form>
		  </div>
		  <div class="w3-quarter">
		  	<style>
    	.button6 {padding: 8px 36px;}
    </style>
            <form id="as1" method="POST" action="">
			<button type="submit" class="w3-button w3-round-xlarge w3-white w3-border w3-border-blue button6">Differential Gene Expression</button>
			  <div style="width: 100%">
              <select form="as1" name="dgeOption" id="dgeOption">
				<option value="Linnorm">Linnorm</option>
				<option value="KNN-smoothing">KNN-smoothing</option>
				<option value="Linnorm+Drimpute">Linnorm+Drimpute</option>
			  </select>
			  </div>
          </form>
		  </div>
		  <div class="w3-quarter">
		  	<style>
    	.button7 {padding: 8px 76px;}
    </style>
            <form id="as2" method="POST" action="">
			<button type="submit" class="w3-button w3-round-xlarge w3-white w3-border w3-border-blue button7">Cell Annotation</button>
			  <div style="width: 100%">
              <select form="as2" name="cellAnnotateOption" id="cellAnnotateOption">
				<option value="scMerge_s">scMerge_s</option>
				<option value="seMerge_us">seMerge_us</option>
				<option value="MNNs">MNNs</option>
			  </select>
			  </div>
          </form>
		  </div>
		  <div class="w3-quarter">
		  	<style>
    	.button8 {padding: 8px 60px;}
    </style>
            <form id="as3" method="POST" action="">
			<button type="submit" class="w3-button w3-round-xlarge w3-white w3-border w3-border-blue button8">Trajectory Inference</button>
			  <div style="width: 100%">
                  <select form="as3" name="trajectoryOption" id="trajectoryOption">
				<option value="PCA">PCA</option>
				<option value="Monocle2_DDRTree">Monocle2_DDRTree</option>
				<option value="TSCAN">TSCAN</option>
			  </select>
			  </div>
          </form>
              <div class="w3-center w3-padding-16">
		  </div>
    </div>
    <div>
<div class="w3-center w3-padding-64">
    <div class="w3-center w3-padding-64">
    <button class="w3-button w3-round-xlarge w3-white w3-border w3-border-blue w3-center">Run Analysis</button>
</div>




  <!-- Grid -->
  <div class="w3-center w3-padding-52">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-blue w3-padding-16">Visualization Panel</span>
	</div>
<div class="w3-panel w3-white 3-round-xlarge w3-border-blue">akjsdnkasjndakjsd</div>
    </div>


  <!-- Contact -->
  <div class="w3-center w3-padding-64" id="contact">
    <span class="w3-xlarge w3-bottombar w3-border-blue w3-padding-16">Results</span>
  </div>

 <!-- Contact Container -->
<form class="w3-container" action="/action_page.php">
  <p>Enter your email and select the results you wish to receive.</p>
  <p>
  <label class="w3-text-blue"><b>Name</b></label>
  <input class="w3-input w3-border w3-round-xlarge" name="first" type="text"></p>
  <p>
  <label class="w3-text-blue"><b>Email Address</b></label>
  <input class="w3-input w3-border w3-round-xlarge" name="last" type="text"></p>
  <p>
  <h2></h2>
  <p>
  <input class="w3-check" type="checkbox">
  <label>Quality Control</label></p>
  <p>
  <input class="w3-check" type="checkbox">
  <label> Normalization</label></p>
  <p>
  <input class="w3-check" type="checkbox">
  <label>Dimension Reduction</label></p>
  <p>
  <input class="w3-check" type="checkbox">
  <label>Differential Expression</label></p>

  <button class="w3-btn w3-blue w3-round-xlarge">Submit</button></p>
</form>


<!-- Footer -->

<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
  <h4>Footer</h4>
  <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>


<script>
// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demodots");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-white";
}
</script>

</body>
</html>
